body {
    margin-bottom: 0;
}
.container {
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    border: 2px solid grey;
    border-radius: 50%;
    box-shadow: 5px 5px black;
    background-image: url(/background\ \(3\).jpg);
}

.input {
    display: flex;
    justify-content: center;
}

#number {
    margin-right: 10px;
}

#display {
    margin-left: 2px;
}

#display, #number {
    border-radius: 4px 4px;
    box-shadow: 2px 2px 2px 2px black;
    border: none;
    margin-bottom: 20px;
    padding: 9px;
}

button {
    color: rgb(243, 237, 237);
    margin: 10px;
    border: 1px;
    box-shadow: 4px 4px 1px 2px black;
    border-radius: 3px 3px;
}

button:hover {
    color: white;
    background-color: burlywood;
}

.buttons1, .buttons2, .buttons3, .buttons4, .buttons5{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.btn {
    padding: 5px 19px;
    font-family: monospace;
    color: black;
    font-weight: bold;
    background-color: #0099CC;
}

.signs {
    padding: 9px 30px;
}

p {
    color: #0099CC;
    font-family: fantasy;
    font-size: medium;
    padding: 0 10px;
}






