body {
    background-image: url(/background\ \(3\).jpg);
}
.container {
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 2px solid grey;
    border-radius: 40%;
    background-color: burlywood;
}

.input {
    display: flex;
    justify-content: center;
}

#number {
    margin-right: 10px;
}

#display {
    margin-left: 2px;
}

#display, #number {
    border-radius: 4px 4px;
    box-shadow: 2px 2px 2px 2px grey;
    border: none;
    margin-bottom: 20px;
}

button {
    color: grey;
    margin: 10px;
    border: 1px;
    box-shadow: 4px 4px 1px 2px gray;
    border-radius: 3px 3px;
}

button:hover {
    color: brown;
    background-color: burlywood;
}

.buttons1, .buttons2, .buttons3, .buttons4, .buttons5{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.btn {
    padding: 5px 19px;
    font-family: monospace;
}

.signs {
    padding: 9px 30px;
}






